<div id="<%= dom_id forum %>">
  <p>
    <strong>Title:</strong>
    <%= forum.title %>
  </p>

  <p>
    <p>Created by: <%= @forum.citizen.display_name %></p>
  </p>

  <p>
    <strong>Description:</strong>
    <%= forum.description %>
  </p>

</div>
