<p style="color: green"><%= notice %></p>

<%= render @citizen %>

<div>
<% if @citizen == current_citizen %>
  <%= link_to "Edit Profile", edit_citizen_path(@citizen) %>
  <%= button_to "Destroy this profile", @citizen, method: :delete %>
<% end %>
</div>
